body {
    letter-spacing: 0.14px;
    ul {
        font-family: $font-family-1;
    }
}

.submission {
    .typeform-share {
        display: inline-block;
        text-decoration: none;
        background-color: $primary;
        color: #0e0e15;
        cursor: pointer;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        margin: 0;
        height: 50px;
        width: 100%;
        padding: 0px 33px;
        border-radius: 0px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .w-button {
        @include breakpoint($min: 320px, $max: 640px) {
            width: 100% !important;
        }
    }
}

.box{
    .box_about{
        padding-right: 120px;

        @media (max-width: 479px){
            padding-right: 20px;
        }
    }
    .box_categories{
        padding-left: 120px;

        @media (max-width: 479px){
            padding-left: 20px;
        }
    }
}

.judges {
    h2 {
        font-family: $font-family-2, serif;
        color: $primary;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    .judge-row {
        @include breakpoint($min: 320px, $max: 640px) {
            flex-wrap: wrap;
        }
        font-family: $font-family-1;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
        text-align: center;
        .judge-container {
            color: #fff;
            font-weight: 300;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include breakpoint($min: 320px, $max: 640px) {
                width: 100% !important;
            }
            .thumbnail {
                background-color: $background-color;
                width: 120px;
                height: 120px;
                margin: 50px;
                transform: rotate(45deg);
                border: 1px solid $primary;
                -webkit-transition: box-shadow .7s;
                /* Safari 3.1 to 6.0 */
                transition: box-shadow .7s;
                // cursor: pointer;
                position: relative;
                overflow: hidden;

                &.victor:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -20%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/victor.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-50deg);
                }

                &.chris:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -24%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/chris.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-50deg);
                }

                &.chuks:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -24%;;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/chuks.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-50deg);
                }

                &.editi:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -24%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/editi.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-50deg);
                }

                &.evans:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -24%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/evans.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-45deg);
                }

                &.mathias:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -23%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/matthias.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-45deg);
                }

                &.charles:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -23%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/charles.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-45deg);
                }

                &.steve:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -23%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/steve.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-45deg);
                }

                &.kanso:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -23%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/kanso.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-45deg);
                }

                &.amusat:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -23%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/usman.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-45deg);
                }

                &.bayo:before {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    top: -23%;
                    left: -20%;
                    z-index: -1;
                    background: url(../images/bayo.jpg) 0 0 repeat;
                    -webkit-transform: rotate(30deg);
                    background-size: cover;
                    transform: rotate(-45deg);
                }
            }
            &:hover {
                .thumbnail {
                    background-color: $background-color;
                    width: 120px;
                    height: 120px;
                    margin: 50px;
                    transform: rotate(45deg);
                    border: 1px solid $primary;
                    box-shadow: 20px 19px 23px 0 rgba(0, 0, 0, 0.32);
                    -webkit-transition: box-shadow .7s;
                    /* Safari 3.1 to 6.0 */
                    transition: box-shadow .7s;
                }
            }
        }
    }
}

.sponsors {
    color: #fff;
    font-family: $font-family-1;
    @include breakpoint($min: 320px, $max: 640px) {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    h2 {
        font-family: $font-family-2, serif;
        color: $primary;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    p {
        font-weight: 100;
        line-height: 25px;
        &.description-details {
            margin-top: 20px;
        }
    }
    .logos {
        padding: 30px;
        @include breakpoint($min: 320px, $max: 640px) {
            padding: 0px !important;
        }
        div[class^="row-"] {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include breakpoint($min: 320px, $max: 640px) {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
        }
        .sponsor-logo {
            background-color: #fff;
            width: 18%;
            height: 80px;
            margin: 10px;
            position: relative;
            overflow: hidden;
            @include breakpoint($min: 320px, $max: 640px) {
                width: 39% !important;
                flex-wrap: wrap !important;
                height: 100px !important;
            }

            &.devcenter:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0%;
                z-index: 1;
                background: url(../images/devcenter.png) 0 0 repeat;
                background-size: cover;
            }
            &.visual:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 28%;
                top: 35%;
                left: 0%;            
                z-index: 1;
                background: url(../images/visual.png) 0 0 repeat;
                background-size: cover;
            }
            &.farabale:before{
                content: "";
                position: absolute;
                width: 125%;
                height: 27%;
                transform: rotate(-45deg);
                top: 28px;
                left: -10%;
                z-index: 1;
                background: url(../images/farabale.png) 0 0 repeat;
                background-size: cover;
            }
            &.design-nigeria:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0%;
                z-index: 1;
                background: url(../images/design-nigeria.png) 0 0 repeat;
                background-size: cover;
            }
        }
    }
}