body {
    letter-spacing: 0.14px;
    ul {
        font-family: $font-family-1;
    }
}

.submission {
    .typeform-share {
        display: inline-block;
        text-decoration: none;
        background-color: $primary;
        color: #0e0e15;
        cursor: pointer;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        margin: 0;
        height: 50px;
        width: 100%;
        padding: 0px 33px;
        border-radius: 0px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .w-button {
        @include breakpoint($min: 320px, $max: 640px) {
            width: 100% !important;
        }
    }
}

.judges {
    h2 {
        font-family: $font-family-2, serif;
        color: $primary;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    .judge-row {
        @include breakpoint($min: 320px, $max: 640px) {
            flex-wrap: wrap;
        }
        font-family: $font-family-1;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
        text-align: center;
        .judge-container {
            color: #fff;
            font-weight: 300;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include breakpoint($min: 320px, $max: 640px) {
                width: 100% !important;
            }
            .thumbnail {
                background-color: $background-color;
                width: 120px;
                height: 120px;
                margin: 50px;
                transform: rotate(45deg);
                border: 1px solid $primary;
                -webkit-transition: box-shadow .7s;
                /* Safari 3.1 to 6.0 */
                transition: box-shadow .7s;
                cursor: pointer;
            }
            &:hover {
                .thumbnail {
                    background-color: $background-color;
                    width: 120px;
                    height: 120px;
                    margin: 50px;
                    transform: rotate(45deg);
                    border: 1px solid $primary;
                    box-shadow: 20px 19px 23px 0 rgba(0, 0, 0, 0.32);
                    -webkit-transition: box-shadow .7s;
                    /* Safari 3.1 to 6.0 */
                    transition: box-shadow .7s;
                }
            }
        }
    }
}

.sponsors {
    color: #fff;
    font-family: $font-family-1;
    @include breakpoint($min: 320px, $max: 640px) {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    h2 {
        font-family: $font-family-2, serif;
        color: $primary;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    p {
        font-weight: 100;
        line-height: 25px;
        &.description-details {
            margin-top: 20px;
        }
    }
    .logos {
        padding: 30px;
        @include breakpoint($min: 320px, $max: 640px) {
            padding: 0px !important;
        }
        div[class^="row-"] {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include breakpoint($min: 320px, $max: 640px) {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
        }
        .sponsor-logo {
            background-color: $background-color;
            width: 18%;
            height: 80px;
            margin: 10px;
            @include breakpoint($min: 320px, $max: 640px) {
                width: 39% !important;
                flex-wrap: wrap !important;
                height: 100px !important;
            }
        }
    }
}