@font-face {
  font-family: 'ActaBold';
  src: url("font/Acta-Bold.otf") format("opentype"); }
body {
  font-family: 'Open Sans'; }
  body h1, body h2, body h3, body h4 {
    font-family: 'ActaBold'; }
  body .header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    text-transform: uppercase;
    padding-right: 40px;
    color: #6b6b6b;
    font-size: 12px; }
    body .header-nav ul li:hover {
      color: white;
      cursor: pointer; }
  body .about-ovalay {
    display: flex;
    letter-spacing: .4px;
    flex-direction: column; }
    body .about-ovalay .title {
      margin-bottom: 20px; }
      body .about-ovalay .title h1 {
        color: #191924;
        font-size: 95px;
        position: absolute;
        z-index: -999999;
        opacity: .5;
        left: -40px;
        top: 20px;
        bottom: 176px; }
      body .about-ovalay .title h3 {
        letter-spacing: 0.9px;
        font-weight: 700; }
    body .about-ovalay .description h4 {
      margin-bottom: -30px;
      padding-top: 20px;
      color: #DEAB24;
      font-weight: 700;
      font-size: 16px;
      opacity: 1;
      transition: opacity 600ms, transform 600ms;
      transform: translateX(0px) translateY(12px); }
    body .about-ovalay .description p {
      padding-right: 70px; }
    body .about-ovalay-icon {
      width: 420px;
      margin-left: 26px;
      margin-top: 50px; }
    body .about-ovalay a {
      margin-top: 60px;
      border: 0.5px solid #DEAB24;
      padding: 15px 30px;
      width: 220px; }
    body .about-ovalay svg {
      margin-left: 26px;
      margin-top: 50px; }
  body .categories .title {
    margin-bottom: 20px; }
    body .categories .title h1 {
      color: #191924;
      font-size: 95px;
      position: absolute;
      z-index: -999999;
      opacity: .5;
      left: -40px;
      top: -30px;
      bottom: 176px; }
  body .categories ul {
    padding-left: 30px; }
    body .categories ul li {
      font-size: 12px;
      font-weight: 200;
      line-height: 23px;
      color: #fff;
      list-style: none;
      border-left: 1px solid #DEAB24;
      padding-left: 20px; }
  body .nomination {
    font-family: 'Open Sans'; }
    body .nomination .nomination-container .pri-background {
      background-color: #DEAB24;
      width: 500px;
      height: 488px;
      position: absolute;
      right: -180px;
      top: -30px;
      z-index: -999; }
    body .nomination .nomination-container .nomination-details {
      background-color: white;
      display: flex;
      padding: 50px 100px;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.29); }
      body .nomination .nomination-container .nomination-details .badge {
        width: 200px; }
      body .nomination .nomination-container .nomination-details .details {
        width: 40%;
        padding: 35px 20px; }
        body .nomination .nomination-container .nomination-details .details .header {
          font-family: 'ActaBold', serif;
          color: #000;
          font-size: 21px; }
        body .nomination .nomination-container .nomination-details .details .nominate-button {
          margin-top: 15px;
          width: 100%;
          letter-spacing: 0.4px;
          height: 50px;
          background-color: #272727;
          color: #fff;
          box-shadow: 0 18px 30px 0 rgba(0, 0, 0, 0.52);
          -webkit-transition: box-shadow 1s;
          /* Safari 3.1 to 6.0 */
          transition: box-shadow 1s; }
          body .nomination .nomination-container .nomination-details .details .nominate-button:hover {
            box-shadow: 0 18px 30px 0 rgba(0, 0, 0, 0.32); }
  body .submission {
    margin-top: 30px; }
    body .submission strong {
      color: #DEAB24; }
    body .submission .title {
      margin-top: 50px;
      margin-bottom: 50px; }
      body .submission .title h1 {
        color: #191924;
        text-align: center;
        font-size: 95px;
        position: absolute;
        z-index: -999999;
        opacity: .5;
        left: 42vw;
        bottom: auto; }
      body .submission .title h3 {
        text-align: center;
        padding-top: 24px;
        font-weight: 700;
        padding-left: 40px;
        letter-spacing: 0.9px; }
    body .submission hr {
      width: 50px;
      margin: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      color: #DEAB24;
      border: 1px solid #DEAB24; }
    body .submission .instructions .subheader {
      margin-top: 0px;
      font-family: 'ActaBold', serif;
      color: #fff;
      font-weight: 400;
      font-size: 21px; }
    body .submission .instructions .agency-submit {
      margin-top: 40px; }
    body .submission .instructions .individual-submit {
      margin-bottom: 40px; }
    body .submission-form {
      margin-left: 40px;
      display: flex;
      height: 300px;
      align-items: center;
      justify-content: center; }
      body .submission-form a {
        padding: 20px 90px;
        background-color: #DEAB24;
        text-decoration: none;
        font-weight: 700;
        color: black;
        box-shadow: 0px 10px 20px 0px #09090d;
        -webkit-transition: box-shadow 1s;
        /* Safari 3.1 to 6.0 */
        transition: box-shadow 1s; }
        body .submission-form a:hover {
          box-shadow: -1px 1px 5px 0px #090903;
          cursor: pointer; }
      body .submission-form .switch {
        display: flex;
        width: 100%;
        height: 50px;
        color: white; }
        body .submission-form .switch p {
          text-align: enter;
          color: white;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
        body .submission-form .switch .individual, body .submission-form .switch .agency {
          background-color: #0A0A0F;
          width: 50%;
          text-align: center;
          margin: 0;
          display: flex;
          justify-content: center;
          font-weight: 300;
          align-items: center; }
        body .submission-form .switch .agency {
          background-color: #252537; }
      body .submission-form form .input-fields {
        padding: 50px; }
        body .submission-form form .input-fields p {
          font-size: 13px;
          font-weight: 300;
          margin-bottom: 0px;
          color: #697080;
          margin-bottom: 5px; }
        body .submission-form form .input-fields input, body .submission-form form .input-fields textarea, body .submission-form form .input-fields select {
          margin: 0;
          padding: 7px;
          border: none;
          border-bottom: solid 2px #c9c9c9;
          transition: border 0.3s;
          background-color: #0A0A0F;
          color: white;
          outline: none;
          width: 100%;
          margin-bottom: 30px; }
      body .submission-form form .submit {
        width: 100%;
        height: 80px;
        background-color: #deab24;
        border: none; }
  body .judges h1 {
    color: #191924;
    font-size: 95px;
    position: absolute;
    z-index: -999999;
    margin-top: -8px;
    margin-right: -8px;
    opacity: .5; }
  body .judges h3 {
    font-family: 'ActaBold';
    font-weight: 700;
    margin-bottom: 40px;
    color: #fff;
    margin-left: 80px; }
  body .judges .judge-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
    text-align: center; }
    body .judges .judge-row .judge-container {
      color: #fff;
      font-weight: 300;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .judges .judge-row .judge-container .thumbnail {
        background-color: #08080D;
        width: 120px;
        height: 120px;
        margin: 50px;
        transform: rotate(45deg);
        border: 1px solid #DEAB24;
        -webkit-transition: box-shadow .7s;
        /* Safari 3.1 to 6.0 */
        transition: box-shadow .7s; }
      body .judges .judge-row .judge-container:hover .thumbnail {
        background-color: #08080D;
        width: 120px;
        height: 120px;
        margin: 50px;
        transform: rotate(45deg);
        border: 1px solid #DEAB24;
        box-shadow: 20px 19px 23px 0 rgba(0, 0, 0, 0.32);
        -webkit-transition: box-shadow .7s;
        /* Safari 3.1 to 6.0 */
        transition: box-shadow .7s; }
  body .sponsors {
    color: #fff; }
    body .sponsors .title h1 {
      color: #191924;
      font-size: 95px;
      position: absolute;
      z-index: -999999;
      opacity: .5;
      left: -19px;
      top: -5px;
      bottom: 176px; }
    body .sponsors .title h3 {
      font-family: 'ActaBold';
      font-weight: 700;
      margin-bottom: 40px; }
    body .sponsors p {
      font-weight: 100;
      line-height: 25px; }
      body .sponsors p.description-details {
        margin-top: 20px; }
    body .sponsors .logos {
      padding: 30px; }
      body .sponsors .logos div[class^="row-"] {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
      body .sponsors .logos .sponsor-logo {
        background-color: #08080D;
        width: 18%;
        height: 80px;
        margin: 10px; }
    body .sponsors .description {
      padding-left: 40px; }
  body .footer {
    padding: 90px; }
    body .footer hr {
      margin: 30px auto;
      border: 1px dashed #697080;
      opacity: .5;
      width: 50vw; }
    body .footer .unordered-list li:hover {
      color: white;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */
