@import "mixins";
$pri: #DEAB24;
body {
  font-spacing: 0.14px;
  ul {
    font-family: 'Open Sans';
  }
}
// $black: #08080D;
// $darkergrey: #272727;
//
// @font-face {
//     font-family: 'ActaBold';
//     src: url('font/Acta-Bold.otf') format('opentype');
// }
// // @mixin breakpoint($min: 0, $max: 0) {
// //   $type: type-of($min);
// //   @if $type == string {
// //     @if $class == xs {
// //       @media (max-width: 767px) { @content; }
// //     }
// //
// //     @else if $class == sm {
// //       @media (min-width: 768px) { @content; }
// //     }
// //
// //     @else if $class == md {
// //       @media (min-width: 992px) { @content; }
// //     }
// //
// //     @else if $class == lg {
// //       @media (min-width: 1200px) { @content; }
// //     }
// //
// //     @else {
// //       @warn "Breakpoint mixin supports: xs, sm, md, lg";
// //     }
// //   }
// //   @else if $type == number {
// //     $query: "all" !default;
// //     @if $min != 0 and $max != 0 {
// //       $query: "(min-width: #{$min}) and (max-width: #{$max})";
// //     }
// //     @else if $min != 0 and $max == 0 {
// //       $query: "(min-width: #{$min})";
// //     }
// //     @else if $min == 0 and $max != 0 {
// //       $query: "(max-width: #{$max})";
// //     }
// //     @media #{$query} {
// //       @content;
// //     }
// //   }
// // }
//
//
// body {
//   font-family: 'Open Sans';
//   h1, h2, h3, h4 {
//     font-family: 'ActaBold';
//   }
//   .header-nav {
//     ul {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       list-style-type: none;
//       padding: 0;
//       margin-top: 50px;
//       text-transform: uppercase;
//       padding-right: 40px;
//       color: #6b6b6b;
//       font-size: 12px;
//       li:hover {
//         color: white;
//         cursor: pointer;
//       }
//     }
//   }
//   .about-ovalay {
//     display: flex;
//     letter-spacing: .4px;
//     flex-direction: column;
//     .title {
//       margin-bottom: 20px;
//       h1 {
//         color: #191924;
//         font-size: 95px;
//         position: absolute;
//         z-index: -999999;
//         opacity: .5;
//         left: -40px;
//         top: 20px;
//         bottom: 176px;
//       }
//       h3 {
//         letter-spacing: 0.9px;
//         font-weight: 700;
//       }
//     }
//
//
//     .description {
//       h4 {
//         margin-bottom: -30px;
//         padding-top: 20px;
//         color: #DEAB24;
//         font-weight: 700;
//         font-size: 16px;
//         opacity: 1;
//         transition: opacity 600ms, transform 600ms;
//         transform: translateX(0px) translateY(12px);
//       }
//       p {
//         padding-right: 70px;
//       }
//     }
//
//     &-icon {
//       width: 420px;
//       margin-left: 26px;
//       margin-top: 50px;
//     }
//     a {
//       margin-top: 60px;
//       border: .5px solid $pri;
//       padding: 15px 30px;
//       width: 220px;
//     }
//     svg {
//       margin-left: 26px;
//       margin-top: 50px;
//     }
//   }
//
//   .categories {
//     .title {
//       margin-bottom: 20px;
//       h1 {
//         color: #191924;
//         font-size: 95px;
//         position: absolute;
//         z-index: -999999;
//         opacity: .5;
//         left: -40px;
//         top: -30px;
//         bottom: 176px;
//       }
//     }
//     ul {
//       padding-left: 30px;
//       li {
//         font-size: 12px;
//         font-weight: 200;
//         line-height: 23px;
//         color: #fff;
//         list-style: none;
//         border-left: 1px solid $pri;
//         padding-left: 20px;
//       }
//     }
//   }
//
//   .nomination {
//     font-family: 'Open Sans';
//     .nomination-container {
//
//       .pri-background {
//         background-color: $pri;
//         width: 500px;
//         height: 488px;
//         position: absolute;
//         right: -180px;
//         top: -30px;
//         z-index: -999;
//       }
//       .nomination-details {
//         background-color: white;
//         display: flex;
//         padding: 50px 100px;
//         justify-content: space-around;
//         align-items: center;
//         box-shadow: 0 16px 25px 0 rgba(0,0,0,0.29);
//         .badge {
//           width: 200px;
//         }
//
//         .details {
//           width: 40%;
//           padding: 35px 20px;
//           .header {
//             font-family: 'ActaBold', serif;
//             color: #000;
//             font-size: 21px;
//           }
//           .instructions {
//
//           }
//           .nominate-button {
//             margin-top: 15px;
//             width: 100%;
//             letter-spacing: 0.4px;
//             height: 50px;
//             background-color: #272727;
//             color: #fff;
//             box-shadow: 0 18px 30px 0 rgba(0,0,0,0.52);
//             -webkit-transition: box-shadow 1s; /* Safari 3.1 to 6.0 */
//             transition: box-shadow 1s;
//             &:hover {
//               box-shadow: 0 18px 30px 0 rgba(0,0,0,0.32);
//             }
//           }
//         }
//       }
//     }
//   }
//
//   .submission {
//     margin-top: 30px;
//     strong {
//       color: $pri;
//     }
//     .title {
//       margin-top: 50px;
//       margin-bottom: 50px;
//       h1 {
//         color: #191924;
//         text-align: center;
//         font-size: 95px;
//         position: absolute;
//         z-index: -999999;
//         opacity: .5;
//         left: 42vw;
//         bottom: auto;
//       }
//       h3 {
//         text-align: center;
//         padding-top: 24px;
//         font-weight: 700;
//         padding-left: 40px;
//         letter-spacing: 0.9px;
//       }
//     }
//
//     hr {
//       width: 50px;
//       margin: 0;
//       margin-top: 30px;
//       margin-bottom: 30px;
//       color: $pri;
//       border: 1px solid $pri;
//     }
//     .instructions {
//       .paragraph {
//
//       }
//       .subheader {
//         margin-top: 0px;
//         font-family: 'ActaBold', serif;
//         color: #fff;
//         font-weight: 400;
//         font-size: 21px;
//       }
//       .agency-submit {
//         margin-top: 40px;
//       }
//       .individual-submit {
//         margin-bottom: 40px;
//       }
//     }
//     &-form {
//       margin-left: 40px;
//       display: flex;
//       height: 300px;
//       align-items: center;
//       justify-content: center;
//       a {
//         padding: 20px 90px;
//         background-color: #DEAB24;
//         text-decoration: none;
//         font-weight: 700;
//         color: black;
//         box-shadow: 0px 10px 20px 0px rgb(9, 9, 13);
//         -webkit-transition: box-shadow 1s; /* Safari 3.1 to 6.0 */
//         transition: box-shadow 1s;
//         &:hover {
//           box-shadow: 0-1px 1px 5px 0px #090903;;
//           cursor: pointer;
//         }
//       }
//       .switch {
//         display: flex;
//         width: 100%;
//         height: 50px;
//         color: white;
//         p {
//           text-align: enter;
//           color: white;
//           position: relative;
//           top: 50%;
//           transform: translateY(-50%);
//         }
//         .individual, .agency {
//           background-color: #0A0A0F;
//           width: 50%;
//           text-align: center;
//           margin: 0;
//           display: flex;
//           justify-content: center;
//           font-weight: 300;
//           align-items: center;
//         }
//         .agency {
//           background-color: lighten(#0A0A0F, 13);
//         }
//
//       }
//
//
//
//       form {
//         .input-fields {
//           padding: 50px;
//           p {
//             font-size: 13px;
//             font-weight: 300;
//             margin-bottom: 0px;
//             color: #697080;
//             margin-bottom: 5px;
//           }
//           input, textarea, select {
//             margin: 0;
//             padding: 7px;
//             border: none;
//             border-bottom: solid 2px #c9c9c9;
//             transition: border 0.3s;
//             background-color: #0A0A0F;
//             color: white;
//             outline: none;
//             width: 100%;
//             margin-bottom: 30px;
//           }
//         }
//         .submit {
//           width: 100%;
//           height: 80px;
//           background-color: #deab24;
//           border: none;
//         }
//       }
//     }
//   }
//
//   .judges {
//     h1 {
//       color: #191924;
//       font-size: 95px;
//       position: absolute;
//       z-index: -999999;
//       margin-top: -8px;
//       margin-right: -8px;
//       opacity: .5;
//     }
//     h3 {
//       font-family: 'ActaBold';
//       font-weight: 700;
//       margin-bottom: 40px;
//       color: #fff;
//       margin-left: 80px;
//     }
//     .judge-row {
//       width: 100%;
//       display: flex;
//       justify-content: space-around;
//       margin: 40px 0px;
//       text-align: center;
//       .judge-container {
//         color: #fff;
//         font-weight: 300;
//         width: 25%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         .thumbnail {
//           background-color: #08080D;
//           width: 120px;
//           height: 120px;
//           margin: 50px;
//           transform: rotate(45deg);
//           border: 1px solid $pri;
//           -webkit-transition: box-shadow .7s; /* Safari 3.1 to 6.0 */
//           transition: box-shadow .7s;
//
//         }
//         &:hover {
//           .thumbnail {
//             background-color: #08080D;
//             width: 120px;
//             height: 120px;
//             margin: 50px;
//             transform: rotate(45deg);
//             border: 1px solid $pri;
//             box-shadow: 20px 19px 23px 0 rgba(0, 0, 0, 0.32);
//             -webkit-transition: box-shadow .7s; /* Safari 3.1 to 6.0 */
//             transition: box-shadow .7s;
//           }
//         }
//       }
//     }
//   }
//
//   .sponsors {
//     color: #fff;
//     .title {
//       h1 {
//         color: #191924;
//         font-size: 95px;
//         position: absolute;
//         z-index: -999999;
//         opacity: .5;
//         left: -19px;
//         top: -5px;
//         bottom: 176px;
//       }
//       h3 {
//         font-family: 'ActaBold';
//         font-weight: 700;
//         margin-bottom: 40px;
//       }
//     }
//     p {
//       font-weight: 100;
//       line-height: 25px;
//       &.description-details {
//         margin-top: 20px;
//       }
//     }
//     .logos {
//       padding: 30px;
//       div[class^="row-"] {
//         width: 100%;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//       }
//       .sponsor-logo {
//         background-color: #08080D;
//         width:  18%;
//         height: 80px;
//         margin: 10px;
//       }
//     }
//     .description {
//       padding-left: 40px;
//     }
//   }
//   .footer {
//     padding: 90px;
//     hr {
//       margin: 30px auto;
//       border: 1px dashed #697080;
//       opacity: .5;
//       width: 50vw;
//     }
//     .unordered-list {
//       li:hover {
//         color: white;
//         cursor: pointer;
//       }
//     }
//   }
// }


.submission {
  .w-button {
    @include breakpoint($min: 320px, $max: 640px) {
      width: 80vw;
    }
  }
}


.judges {
  h2 {
    font-family: 'Droid Serif', serif;
    color: $pri;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .judge-row {
    @include breakpoint($min: 320px, $max: 640px) {
      flex-wrap: wrap;
    }
    font-family: 'Open Sans';
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
    text-align: center;
    .judge-container {
      color: #fff;
      font-weight: 300;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include breakpoint($min: 320px, $max: 640px) {
        width: 50%;
      }
      .thumbnail {
        background-color: #08080D;
        width: 120px;
        height: 120px;
        margin: 50px;
        transform: rotate(45deg);
        border: 1px solid $pri;
        -webkit-transition: box-shadow .7s; /* Safari 3.1 to 6.0 */
        transition: box-shadow .7s;
      }
      &:hover {
        .thumbnail {
          background-color: #08080D;
          width: 120px;
          height: 120px;
          margin: 50px;
          transform: rotate(45deg);
          border: 1px solid $pri;
          box-shadow: 20px 19px 23px 0 rgba(0, 0, 0, 0.32);
          -webkit-transition: box-shadow .7s; /* Safari 3.1 to 6.0 */
          transition: box-shadow .7s;
        }
      }
    }
  }
}

.sponsors {
  color: #fff;
  font-family: 'Open Sans';
  @include breakpoint($min: 320px, $max: 640px) {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  h2 {
    font-family: 'Droid Serif', serif;
    color: $pri;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  p {
    font-weight: 100;
    line-height: 25px;
    &.description-details {
      margin-top: 20px;
    }
  }

  .logos {
    padding: 30px;
    div[class^="row-"] {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include breakpoint($min: 320px, $max: 640px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
    }
    .sponsor-logo {
      background-color: #08080D;
      width:  18%;
      height: 80px;
      margin: 10px;
      @include breakpoint($min: 320px, $max: 640px) {
        width: 40%;
        flex-wrap: wrap;
        height: 130px;
      }
    }
  }
}
