body {
  letter-spacing: 0.14px; }
  body ul {
    font-family: "Open Sans"; }

.submission .typeform-share {
  display: inline-block;
  text-decoration: none;
  background-color: #DEAB24;
  color: #0e0e15;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  height: 50px;
  width: 100%;
  padding: 0px 33px;
  border-radius: 0px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@media (min-width: 320px) and (max-width: 640px) {
  .submission .w-button {
    width: 100% !important; } }

.box .box_about {
  padding-right: 120px; }
  @media (max-width: 479px) {
    .box .box_about {
      padding-right: 20px; } }
.box .box_categories {
  padding-left: 120px; }
  @media (max-width: 479px) {
    .box .box_categories {
      padding-left: 20px; } }

.judges h2 {
  font-family: "Droid Sans", serif;
  color: #DEAB24;
  font-size: 24px;
  font-weight: 400;
  text-align: center; }
.judges .judge-row {
  font-family: "Open Sans";
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 640px) {
    .judges .judge-row {
      flex-wrap: wrap; } }
  .judges .judge-row .judge-container {
    color: #fff;
    font-weight: 300;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 320px) and (max-width: 640px) {
      .judges .judge-row .judge-container {
        width: 100% !important; } }
    .judges .judge-row .judge-container .thumbnail {
      background-color: #08080D;
      width: 120px;
      height: 120px;
      margin: 50px;
      transform: rotate(45deg);
      border: 1px solid #DEAB24;
      -webkit-transition: box-shadow .7s;
      /* Safari 3.1 to 6.0 */
      transition: box-shadow .7s;
      position: relative;
      overflow: hidden; }
      .judges .judge-row .judge-container .thumbnail.victor:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -20%;
        left: -20%;
        z-index: -1;
        background: url(../images/victor.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-50deg); }
      .judges .judge-row .judge-container .thumbnail.chris:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -24%;
        left: -20%;
        z-index: -1;
        background: url(../images/chris.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-50deg); }
      .judges .judge-row .judge-container .thumbnail.chuks:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -24%;
        left: -20%;
        z-index: -1;
        background: url(../images/chuks.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-50deg); }
      .judges .judge-row .judge-container .thumbnail.editi:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -24%;
        left: -20%;
        z-index: -1;
        background: url(../images/editi.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-50deg); }
      .judges .judge-row .judge-container .thumbnail.evans:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -24%;
        left: -20%;
        z-index: -1;
        background: url(../images/evans.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-45deg); }
      .judges .judge-row .judge-container .thumbnail.mathias:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -23%;
        left: -20%;
        z-index: -1;
        background: url(../images/matthias.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-45deg); }
      .judges .judge-row .judge-container .thumbnail.charles:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -23%;
        left: -20%;
        z-index: -1;
        background: url(../images/charles.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-45deg); }
      .judges .judge-row .judge-container .thumbnail.steve:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -23%;
        left: -20%;
        z-index: -1;
        background: url(../images/steve.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-45deg); }
      .judges .judge-row .judge-container .thumbnail.kanso:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -23%;
        left: -20%;
        z-index: -1;
        background: url(../images/kanso.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-45deg); }
      .judges .judge-row .judge-container .thumbnail.amusat:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -23%;
        left: -20%;
        z-index: -1;
        background: url(../images/usman.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-45deg); }
      .judges .judge-row .judge-container .thumbnail.bayo:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -23%;
        left: -20%;
        z-index: -1;
        background: url(../images/bayo.jpg) 0 0 repeat;
        -webkit-transform: rotate(30deg);
        background-size: cover;
        transform: rotate(-45deg); }
    .judges .judge-row .judge-container:hover .thumbnail {
      background-color: #08080D;
      width: 120px;
      height: 120px;
      margin: 50px;
      transform: rotate(45deg);
      border: 1px solid #DEAB24;
      box-shadow: 20px 19px 23px 0 rgba(0, 0, 0, 0.32);
      -webkit-transition: box-shadow .7s;
      /* Safari 3.1 to 6.0 */
      transition: box-shadow .7s; }

.sponsors {
  color: #fff;
  font-family: "Open Sans"; }
  @media (min-width: 320px) and (max-width: 640px) {
    .sponsors {
      display: flex;
      flex-wrap: wrap-reverse; } }
  .sponsors h2 {
    font-family: "Droid Sans", serif;
    color: #DEAB24;
    font-size: 24px;
    font-weight: 400;
    text-align: center; }
  .sponsors p {
    font-weight: 100;
    line-height: 25px; }
    .sponsors p.description-details {
      margin-top: 20px; }
  .sponsors .logos {
    padding: 30px; }
    @media (min-width: 320px) and (max-width: 640px) {
      .sponsors .logos {
        padding: 0px !important; } }
    .sponsors .logos div[class^="row-"] {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      @media (min-width: 320px) and (max-width: 640px) {
        .sponsors .logos div[class^="row-"] {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center; } }
    .sponsors .logos .sponsor-logo {
      background-color: #fff;
      width: 18%;
      height: 80px;
      margin: 10px;
      position: relative;
      overflow: hidden; }
      @media (min-width: 320px) and (max-width: 640px) {
        .sponsors .logos .sponsor-logo {
          width: 39% !important;
          flex-wrap: wrap !important;
          height: 100px !important; } }
      .sponsors .logos .sponsor-logo.devcenter:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0%;
        z-index: 1;
        background: url(../images/devcenter.png) 0 0 repeat;
        background-size: cover; }
      .sponsors .logos .sponsor-logo.visual:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 28%;
        top: 35%;
        left: 0%;
        z-index: 1;
        background: url(../images/visual.png) 0 0 repeat;
        background-size: cover; }
      .sponsors .logos .sponsor-logo.farabale:before {
        content: "";
        position: absolute;
        width: 125%;
        height: 27%;
        transform: rotate(-45deg);
        top: 28px;
        left: -10%;
        z-index: 1;
        background: url(../images/farabale.png) 0 0 repeat;
        background-size: cover; }
      .sponsors .logos .sponsor-logo.design-nigeria:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0%;
        z-index: 1;
        background: url(../images/design-nigeria.png) 0 0 repeat;
        background-size: cover; }

/*# sourceMappingURL=main.css.map */
