.body {
  background-image: -webkit-linear-gradient(270deg, #0e0e15, #0e0e15);
  background-image: linear-gradient(180deg, #0e0e15, #0e0e15);
  letter-spacing: 0.4px;
}

.container {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  padding: 10px 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #deab24;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: opacity 275ms ease;
  transition: opacity 275ms ease;
}

.image {
  position: static;
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 25px;
  padding-left: 0px;
}

.div-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
    max-width: 940px;
}

.lines_banner {
  position: relative;
  top: 0px;
  display: block;
  margin: 0px auto 0px;
}

.heading {
  position: relative;
  top: 270px;
  display: block;
  margin-top: 6px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 56px;
  font-weight: 100;
  text-align: center;
}

.header {
  margin-top: 0px;
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-weight: 400;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 23px;
  font-style: normal;
  font-weight: 300;
}

.row {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.row.box {
  margin-top: 60px;
  padding-bottom: 50px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button {
  border-radius: 4px;
  background-color: transparent;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: translate(5px, 0px);
  -ms-transform: translate(5px, 0px);
  transform: translate(5px, 0px);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'Open Sans', sans-serif;
}

.text-span {
  background-color: transparent;
  color: #deab24;
  font-weight: 400;
}

.button-2 {
  background-color: #deab24;
}

.heading_sub {
  margin-top: 40px;
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-weight: 400;
}

.heading_sub.jury {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 100;
  text-align: center;
}

.text-field {
  display: block;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  border: 1px solid #deab24;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  background-color: #deab24;
}

.unordered-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: #6b6b6b;
  font-size: 12px;
}

.listitem_footer {
  margin-right: 14px;
  margin-left: 27px;
}

.form {
  display: block;
  margin-top: 19px;
  margin-bottom: 32px;
  clear: both;
}

html.w-mod-js *[data-ix="ease-up"] {
  opacity: 0;
}
