.body {
  background-image: url('../images/background_art_s.png'), -webkit-linear-gradient(270deg, #0e0e15, #0e0e15);
  background-image: url('../images/background_art_s.png'), linear-gradient(180deg, #0e0e15, #0e0e15);
  background-position: 50% -110%, 0px 0px;
  background-size: auto, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

.container {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  padding: 10px 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #deab24;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: opacity 275ms ease;
  transition: opacity 275ms ease;
}

.image {
  position: static;
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 25px;
  padding-left: 0px;
}

.div-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-2 {
  position: static;
  top: 0px;
  display: block;
  width: 30%;
  max-width: 18%;
  margin: 24px auto;
}

.heading {
  position: static;
  top: 214px;
  display: block;
  margin: 6px auto 25px;
  background-color: transparent;
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  text-align: center;
}

.header_prime {
  margin-top: 0px;
  font-family: 'Droid Serif', serif;
  color: #deab24;
  font-weight: 400;
  text-align: left;
}

.header_prime.jury {
  text-align: center;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 23px;
  font-style: normal;
  font-weight: 300;
}

.row {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.row.box {
  margin-top: 60px;
  padding-bottom: 50px;
}

.row.box.submission {
  margin-top: 419px;
  margin-bottom: 120px;
  padding-bottom: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button-2 {
  background-color: #deab24;
}

.heading_sub {
  margin-top: 40px;
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-weight: 400;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.unordered-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: #6b6b6b;
  font-size: 12px;
}

.listitem_footer {
  margin-right: 14px;
  margin-left: 27px;
}

.footer {
  margin-top: 96px;
}

.column_shift {
  position: static;
  padding-right: 30px;
  padding-left: 30px;
}

.jury {
  margin-bottom: 50px;
}

.text-span-2 {
  color: #deab24;
}

.sub_header {
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.unordered-list-2 {
  position: relative;
  top: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  border-left: 1px solid #deab24;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  font-style: normal;
}

.list-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-3 {
  display: block;
  height: 52px;
  margin: 10px auto 9px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #deab24;
  color: #0e0e15;
  text-align: center;
}

.button-3.recommend {
  border: 1px solid #deab24;
  background-color: #0e0e15;
  color: #deab24;
}

.bold-text {
  font-family: 'Droid Sans', sans-serif;
}

.link {
  font-family: 'Droid Sans', sans-serif;
  color: #deab24;
  font-weight: 700;
}

@media (max-width: 991px) {
  .body {
    background-image: url('../images/background_art_s.png'), -webkit-linear-gradient(270deg, #0e0e15, #0e0e15);
    background-image: url('../images/background_art_s.png'), linear-gradient(180deg, #0e0e15, #0e0e15);
    background-position: 50% -101%, 0px 0px;
    background-size: auto, auto;
  }
  .container {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
  .image-2 {
    top: -63px;
    width: 20%;
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 23px;
    padding-bottom: 0px;
  }
  .heading {
    top: 233px;
  }
  .jury {
    margin-top: 0px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .body {
    background-color: #0e0e15;
    background-image: -webkit-linear-gradient(270deg, #0e0e15, #0e0e15);
    background-image: linear-gradient(180deg, #0e0e15, #0e0e15);
  }
  .container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .image-2 {
    width: 24%;
    margin-top: 24px;
    padding-top: 12px;
  }
  .heading {
    position: static;
    margin-top: 25px;
    margin-bottom: 1px;
  }
  .row.box {
    margin-top: 1px;
    padding-bottom: 0px;
  }
  .row.box.submission {
    margin-top: 0px;
  }
  .unordered-list {
    padding-left: 0px;
  }
  .listitem_footer {
    margin-right: 12px;
    margin-left: 12px;
  }
  .column_shift {
    margin-top: 67px;
    margin-bottom: 1px;
  }
}

@media (max-width: 479px) {
  .body {
    background-image: -webkit-linear-gradient(270deg, #0e0e15, #0e0e15);
    background-image: linear-gradient(180deg, #0e0e15, #0e0e15);
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-transform: perspective(1565px);
    transform: perspective(1565px);
  }
  .div-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .heading {
    -webkit-perspective: 0px;
    perspective: 0px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    font-size: 27px;
  }
  .paragraph {
    padding-right: 0px;
  }
  .unordered-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .listitem_footer {
    margin: 5px 12px;
  }
  .column_shift {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
